/* ここから下に記載していく */

a {
    text-decoration: none;
    color: #222222;
}


.wrap {
    max-width: 1200px;
    margin: 0 auto ;
}

.sub_title {
    text-align: center;
}

/* 日本語の見出し */
.sub_title h2 {
    color: #ffd61a;
    font-size: 24px;
    margin: 60px auto 30px 0;
    font-weight: bold;     
}

/* 本文の文字 */
.sub_title p {
    color: #222222;
    font-size: 16px ;
    margin-bottom: 60px ;
}

/* #header {
    background: grey;
    width: 100%;
} */

/* 後でまた調整(naviの文字がセンターに来ていない問題) */
.header {
    width: 100%;
    display: table;
    display: flex;
    justify-content: space-between;
    height: 100%;    
}

.logo_img {
    height: 100%;
    object-fit: cover;
    margin: auto 0;
}

.navi {
    display: table-cell;
    display: flex;
    justify-content: space-between; 
}

.navi_txt {
    font-size: 21px;
    padding: 50px 50px 50px 0;
    text-align: justify;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

/* TOPの背景画像の挿入 */

.main_visual {
    position: relative;
    background-image: url(../img/mainbg.png);
    width: 1200px;
    height: 600px;
    background-size: cover;
}

.main_txt {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 40px;

    /* padding-topで高さしているから↓の背景色透過の範囲が上に大きくなっている */
    /* background-color: rgba(0,0,0,0.5); */
}

.main_txt h1 {
    margin-bottom: 30px;
    font-weight: bold;
}

.content {
    width: 100%;
}

.content_txt {
    text-align: center;
    margin-bottom: 80px;
    line-height: 30px;
}

.content_txt br {
    margin-bottom: 40px;
}

.content_txt p  {
    margin-bottom: 40px;
}

/* 幅を目一杯にしているが、どうか。 */
/* .about_box_img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    object-fit: cover;
} */
.multiple { padding: 0;}
.multiple img { width: 100%;}
.multiple div { margin: 0 5px;}
.multiple .slick-next { right: 17px;z-index: 100;}
.multiple .slick-prev { left: 23px; z-index: 100;}

.box_img img {
    max-width: 300px;
    height: auto;
}


/* コース説明 */
/* コース全体の幅の指定 */
.Course {
    width: 1200px;
    /* background-color: teal; */
    height: auto;
}

.Course .sub_title {
    line-height: 30px;
}

/* テキスト全体の枠の指定 */
.Course_box {
    width: 50%;
    height: auto;
    position: relative;
}

/* 画像の幅の指定 */
.Course_box_img  {
    max-width: 50%;
    /* width: 600px; */
    height: auto;
    /* object-fit: cover; */
}

.Course_box_img img {
    /* display: block; */
    width: auto;
    /* width: 600px; */
    height: auto;
    max-width: 100%;
    /* max-height: 100%; */
    object-fit: cover;
}

.Course_box_txt_right {
    padding: auto 0 auto 50px;
    width: 480px;
    /* width: 50%; */
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Course_box_txt_left {
    padding: auto 50px auto 0;
    width: 480px;
    /* width: 50%; */
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.Course_box_txt_right h2 {
    font-weight: bold;
    padding-bottom: 40px;
}

.Course_box_txt_left h2 {
    font-weight: bold;
    padding-bottom: 40px;
}




/* 画像とテキストを横並びにする */
.Course_box1 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fafafa ;
    /* margin: 0 0 0 auto; */
}

.Course_box2 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fafafa ;
    flex-direction: row-reverse;
}

.Course_box3 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fafafa ;
}


/* ニュース説明 */
.news {
    display: flex;
    justify-content: center;
    margin: 30px 30px 30px 0;
}

/* なぜか、文章のサイズが合っていない。。。16pxのはずなのに。。 */
.news_box {
    margin: 30px 30px 30px 0;
}
.news_box:hover {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  .news_box_img {
    width: 300px;
    padding-bottom: 30px;
}

.news_box_txt {
    width: 300px;
    white-space: nowrap;
}

.news_box_txt p {
    font-size: 14px;
    line-height: 30px;
}

.news_box_txt >p {
    width: 100%;
    padding-bottom: 24px;
}

.btn_align {
    /* margin: 0 auto; */
    /* align-items: center; */
    text-align: center;
}

.btn-square {
    width: 300px;
    height: 60px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ffd61a;/*ボタン色*/
    color: #FFF;
    /* border-bottom: solid 4px #627295; */
    border-radius: 3px;

    /* vertical-align: middle; */
    line-height: 60px;
    font-size: 18px;
  }
  .btn-square:hover {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  /* アクセスに関して */
  .google_map {
    position:relative;
    width:100%;
    height: 0;
    padding-bottom: 36%;
}
.google_map iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
}

.Access_box {
    background-color: #fafafa ;
    padding: 60px 0px;
}

.Access p {
    text-align: center;
    /* margin-bottom: 80px; */
    height: 50px;
    line-height: 30px;
}

.Access >p {
    padding-top: 60px;
}

.Contact .sub_title h2 {
    padding-top: 60px;
    padding-bottom: 30px;
}

/* .Contact .sub_title p {
    padding-top: 60px;
} */

.Contact_box >p {
    padding-bottom: 30px;
}

.Contact_box {
    padding-bottom: 70px;
}

.Contact p {
    text-align: center;
    /* margin-bottom: 60px; */
    line-height: 30px;
}



.form-table {
    border: 1px solid #bfbfbf;
    margin: 0 auto ;
    padding: 8px;
    margin-bottom: 30px;
}

.form-table th {
    font-size: 16px;
    text-align: left;
    vertical-align: top;
    width: 160px;
    height: 36px;
    border: 1px solid #bfbfbf;
    padding-left: 16px;
    padding-right: 64px;
    line-height: 30px;
}

.form-table td {
    border: 1px solid #bfbfbf;
    width: 328px;
    height: 20px;
    padding: 8px 0px 8px 8px;
}

select {
    width: 260px;
    height: 20px;
}

.form-table input {   
    width: 260px;
    height: 20px;
}

.form-table textarea {
    border: 1px solid #bfbfbf;
    width: 260px;
}


.btn_align2 {
    text-align: center;
    margin-bottom: 140px;
}

.checkbox {
    height: 200px;
}

.checkbox label {
    display: block;
    margin-bottom: 24px;
}

/* チェックボックスの非表示*/
.checkbox_input{
    display: none;
  }
/* チェックボックスの構成要素(テキスト、ボックス位置の確保) */
  .checkbox_parts{
    font-size: 12px;
    padding-left: 20px;
    position:relative;
    margin-right: 20px;
  }

  .checkbox_parts span {
      margin-left: 20px;
  }
/*  */
  .checkbox_parts::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 4px;
  }
  .checkbox_input:checked + .checkbox_parts{
    color: #d01137;
  }
  .checkbox_input:checked + .checkbox_parts::after{
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    width: 7px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid #d01137;
    border-right: 3px solid #d01137;
  }

#footer {
    color: #FFF;
    text-align: center;
    background-color: #707070;
    padding-top: 30px;
    padding-bottom: 30px;
}
